#about .text-two h1,
#about .text-two p {
  margin: 0 1.5rem;
  margin-bottom: 1rem;
  text-align: left !important;
}

#about .image-two {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  margin-top: 1.25rem;
}
#about .image-two::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -8.3%;
  left: -26.8%;
  z-index: 0;
  border-radius: 0.25rem;
}
#about .image-two img {
  position: relative;
  right: 1.5rem;
  border-radius: 0.25rem;
}

#about {
  border-bottom: 1px solid #e4e4e4;
  
}
