/* ==== HOME ==== ==== ==== ==== ==== ==== ==== */
#home {
  overflow: hidden;
}
#home .container {
  margin: 0;
}
#home .image {
  position: relative;
}
#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
  border-radius: 0.25rem;
}
#home .image img {
  position: relative;
  right: 2.93rem;
  border-radius: 0.25rem;
}

#home .text {
  margin: 0 1.5rem;
  text-align: center;
}

#home .text h1,
#home .text p {
  margin-bottom: 1rem;
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}
