/* ==== LAYOUT ==== ==== ==== ==== ==== ==== ==== */

#header {
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  overflow: hidden;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

nav {
  height: var(--header-heigt);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main {
  margin-top: var(--header-heigt);
}

.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: var(--title-color);
}
.logo span {
  color: var(--base-color);
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.therapy {
  margin-top: 1.5rem;
}
.container-two {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}
.button-therapy {
  width: 20.4rem;
  height: 23.2rem;
  color: var(--text-color);
  font: 500 1rem 'DM Sans', sans-serif;
  border-style: none;
}
.button-cuts {
  width: 20.4rem;
  height: 23.2rem;
  color: var(--text-color);
  font: 500 1rem 'DM Sans', sans-serif;
  border-style: none;
}
.button {
  height: 3.5rem;
  background-color: var(--base-color);
  color: var(--text-color-light);
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'DM Sans', sans-serif;
  transition: background 0.3s;
}
.button:hover {
  background: var(--base-color-alt);
}

.div-button {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
